
.signupoption{
    padding-top: 15px;
}
.alert{
    margin-top: 10;
    background-color:rgb(196, 44, 44);
    color: black;
}

.heading{
    padding-top: 6px;
}
.bodybackground{
    background: linear-gradient(180deg, slategrey,black);
 }