<title>Dashboard</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<nav class="navbar navbar-light bg-light" style="margin-bottom: 10px">
    <div class=heading>
      <h5>Node Js Demo</h5>
     </div>
     <ul class="navbar-nav">
         <li class="nav-item">
           <!-- <form method="POST" action="/logout"> -->
            <!-- <button class="btn btn-secondary" routerlink ='/login'> -->
            <button class="btn btn-secondary">
              <a href="login">
              logout 
            </a>
          </button>
            <!-- </button> -->
            <!-- </form> -->
         </li>
     </ul>
   </nav>

   <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add/Update Product</h5>
      </div>
      <div class="modal-body">
      <!-- <form  action="/home" method = "POST" enctype="multipart/form-data"> -->
      <form #productForm = "ngForm" (ngSubmit)="productForm.valid && onSubmit(productForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] = 'productService.selectedProduct._id'>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="" #productName = 'ngModel' [(ngModel)]='productService.selectedProduct.productName'name = "productName">
            <small class="form-text text-muted text-left">name of product</small>
        </div>
        <div class="form-group">
            <select class="form-control"  #productType = 'ngModel' [(ngModel)]='productService.selectedProduct.productType' id="productType" name= "productType">
                <option>--N/A--</option>
                <option>Books</option>
                <option>Movies</option>
                <option>Medicine</option>
                <option>Electronics</option>
                <option>Sports</option>
                <option>Clothing</option>
                <option>accessories</option>
                <option>Lifestyle</option>
           </select>
            <small class="form-text text-muted text-left">mention type of product</small>
            
        </div>
        <!-- <div class="form-group">
          <input type="text" class="form-control" placeholder="NA" #productType = 'ngModel' [(ngModel)]='productService.selectedProduct.productType'name = "productType">
          <small class="form-text text-muted text-left">type of product</small>
      </div> -->

        <div class="form-group">
          <input type="date" class="form-control" placeholder="dd/mm/yyyy" #availibilityDate='ngModel' [(ngModel)]='productService.selectedProduct.availibilityDate' name = "availibilityDate">
          <small class="form-text text-muted text-left">date of availibility</small>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="99.99" #price='ngModel' [(ngModel)]='productService.selectedProduct.price' name="price">
            <small class="form-text text-muted text-left">cost of the product in ₹</small>
          </div>
  
          <!-- <form action="/upload" method="POST" enctype="multipart/form-data"> -->
          <!-- <div class="form-group">
            <input type="file" class="form-control" name="productImage">
            <small class="form-text text-muted text-left">Product Image</small>
          </div> -->
          <!-- </form> -->
  
        <div class="modal-footer">
            <button  type="submit" class="btn btn-outline-primary" data-dismiss="modal">Save Product</button>
        </div>
    </form>
   
  </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>


<div class="row">
    <table  class="table" id="display">
      <thead>
        <tr>
          <th class="text-center ">Product Id</th>
          <th class="text-center ">Product Name</th>
          <th class="text-center ">Product Type</th>
          <th class="text-center ">Date of Availibility</th>
          <th class="text-center ">Price</th>
          <!-- <th class="text-center ">Product Image</th> -->
          <th class="text-center ">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let product of productService.products">
        <td>{{product._id}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.productType}}</td>
        <td>{{product.availibilityDate}}</td>
        <td>{{product.price}}</td>
        <td>

          <a class="action-btn" (click)="onEdit(product) ">
            <i class="material-icons">edit</i>
          </a>

          <a class="action-btn" (click)="onDelete(product._id,productForm)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    </table>
</div>



<!-- <thread>
  <tr>
    <td class="text-center "><%= row._id%></td>
    <td class="text-center "><%= row.productName%></td>
    <td class="text-center "><%= row.productType%></td>
    <td class="text-center "><%= row.availibilityDate%></td>
    <td class="text-center "><%= row.price%></td>
    <td>
      <% if(row.image){ %>
      <img src="<%= row.image%>" alt = "<%= row.image%>">
      <% } %>
    </td>
    <td>
      <a href='/editProduct/<%= row._id%>' class="text-success">
        <i class = 'fas fa-edit fa-lg mx-2'></i>
      </a>
      <a href='/delete/<%= row._id%>' class="text-danger">
        <i class = 'fas fa-trash fa-lg mx-2 red-color'></i>
      </a>
    </td>
  </tr>
<% }) %>
</thread> -->